<!---  Menu Bar -->
<div>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">iamRaamOn</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="joke-list" class="nav-link">Joke</a>
      </li>
      <li class="nav-item">
        <a routerLink="ram" class="nav-link">Ram</a>
      </li>
      <li class="nav-item">
        <a routerLink="joke-domain" class="nav-link">Joke Domain</a>
      </li>
      <li class="nav-item">
        <a routerLink="joke-nesting" class="nav-link">Joke Nesting</a>
      </li>
      <li class="nav-item">
        <a routerLink="joke-form-list" class="nav-link">Joke Form</a>
      </li>
      <li class="nav-item">
        <a routerLink="life-cycle" class="nav-link">LifeCycle Hooks</a>
      </li>

     
      
      <li class="nav-item">
        <a routerLink="ng-builtin-directives" class="nav-link">NG ng-builtin-directives</a>
      </li>


      <li class="nav-item">
        <a routerLink="ng-style-class" class="nav-link">Ng Style Class</a>
      </li>

      <li class="nav-item">
        <a routerLink="pipes" class="nav-link">Pipes</a>
      </li>

    </div>
  </nav>

  
  <!-- content Area  <app-tutorials-list></app-tutorials-list>-->

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>


 </div>